:root {
  /* General Colors */
  /* --- Original Colors */
  --color-main-dark: #393534;
  --color-main-medium: #e4e4e4;
  --color-main-light: #ffffff;
  --color-accent: #428acb;
  --color-accent-light: #ffffff;
  --color-accent-dark: rgba(57, 53, 52, 1);
  --color-accent-alt: #74bef9;
  --color-border: rgba(57, 53, 52, 0.125);
  --color-border-strong: rgba(132, 132, 132, 0.5);
  --color-error: #ee788c;
  /* Background Colors */
  --color-bg-main: var(--color-main-medium);
  --color-bg-secondary: var(--color-main-light);
  --color-bg-tertiary: var(--color-accent-light);
  --color-bg-accent: var(--color-accent);
  --color-bg-accent-light: var(--color-accent-light);
  /* Button Colors */
  --color-button-text: var(--color-main-light);
  --color-button-background: var(--color-accent);
  --color-button-text-alt: var(--color-accent);
  --color-button-background-alt: var(--color-main-light);
  --color-button-background-action: #7e8d66;
  --color-button-text-action: var(--color-main-light);
  /* Text Colors */
  --color-text-dark: var(--color-main-dark);
  --color-text-light: var(--color-main-light);
  --color-text-accent-light: var(--color-accent-light);
  --color-text-accent: var(--color-accent);
  --color-text-accent-dark: var(--color-accent-dark);
  /* Header Font Sizes */
  --header-font-size-primary: 1.5rem;
  --header-font-size-secondary: 1.25rem;
  /* Border */
  /* --border: 1px solid var(--color-border); */
  --border: 1px solid var(--color-border);
  --border-alt: sub;
  --border-bottom: 1px solid var(--color-border);
}

body {
  width: 100%;
  margin: auto;
  padding: 0;
  color: var(--color-text-dark);
  background-color: var(--color-bg-main);
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  margin: 0 0 1rem 0;
  /* Text */
  font-size: var(--header-font-size-primary);
  font-family: 'Roboto Medium', Arial, sans-serif;
}

a {
  text-decoration: none;
}

h2 {
  margin: 0 0 1rem 0;
  /* Text */
  font-size: var(--header-font-size-secondary);
  font-family: 'Roboto Medium', Arial, sans-serif;
}

h3 {
  margin: 0 0 1rem 0;
  /* Text */
  font-size: 1rem;
}

i {
  color: var(--color-main-dark);
}
