:root {
  /* General Colors */
  --color-main-dark: #2d2e2e;
  --color-main-gray: #e3e6e4;
  --color-main-light: #f1f2f1;
  --color-accent: #47a8a7;
  --color-accent-background: #f1f2f1;
  --color-border: rgba(17, 18, 18, 0.12);
  --color-error: #b8003f;
  /* Background Colors */
  --color-bg-gray: var(--color-main-gray);
  --color-bg-light: var(--color-main-light);
  --color-bg-accent: var(--color-accent);
  --color-bg-accent-light: #ddefef;
  /* Button Colors */
  --color-button-text: var(--color-accent-background);
  --color-button-background: var(--color-accent);
  --color-button-text-alt: var(--color-accent);
  --color-button-background-alt: var(--color-accent-background);
  --color-button-background-action: #7e8d66;
  --color-button-text-action: var(--color-accent-background);
  /* Text Colors */
  --color-text-dark: var(--color-main-dark);
  --color-text-light: var(--color-accent-background);
  --color-text-accent: var(--color-accent);
  /* Header Font Sizes */
  --header-font-size-primary: 1.5rem;
  --header-font-size-secondary: 1.25rem;
  /* Border */
  --border: 1px solid var(--color-border);
  --border-bottom: 1px solid var(--color-border);
}

body {
  max-width: 1000px;
  width: 100%;
  margin: auto;
  padding: 0;
  color: var(--color-text-dark);
  background-color: var(--color-bg-gray);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-bg-gray);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  /* Text */
  font-size: var(--header-font-size-primary);
  font-family: 'Roboto Medium', Arial, sans-serif;
}

a {
  text-decoration: none;
}

h2 {
  /* Text */
  font-size: var(--header-font-size-secondary);
  font-family: 'Roboto Medium', Arial, sans-serif;
}

h3 {
  font-size: 1rem;
}
