:root {
  --main-black-color: #393534;
  --main-background-color: #eeeff5;
  --accent-color: #4593b6;
  --accent-background-color: white;
  --border-color: rgba(22, 21, 20, 0.12);
}

body {
  margin: 0;
  padding: 0;
  background-color: #eeeff5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #eeeff5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
